parameters:
    level: max
    paths:
        - src
        - tests

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Cannot call method get() on Symfony\Component\DependencyInjection\ContainerInterface|null.#'
            path: %rootDir%/../../../tests/UrlHighlightBundleTest.php
